/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
     /* Primary */
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);

/* Neutral */
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}
body{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/pattern-background-desktop.svg);
    background-color:rgba(224,232,255,255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.container {
    margin-top: 200px;
    margin-bottom: 150px;
    background: var(--very-pale-blue);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%; /* Added semicolon here */
    width: 450px;
    border-radius: 10px;
}

.down{
    padding: 30px;
    text-align: center;
}
.one p{
    text-align: center;
   padding: 20px 40px;
} 
img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.lft{
    display: flex;
    align-items: center;
    justify-content: center;
}
.odd{
    text-align: left;
}
.odd h2{
    padding-bottom: 5px;
}
p{
    color:hsl(0, 0%, 47%);
}
.two{
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.two img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.btn{
    background: var(--bright-blue);
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: white;
    box-shadow:0 4px 6px rgba(34, 73, 140, 0.5);
    cursor: pointer;
}
.btn:active{
    background-color: hsl(245, 76%, 62%);
}
a:active{
    text-decoration: none;
    color: var(--bright-blue);
}
button {
    background: none;
    border: none;
    outline: none;
}
button a{
    text-decoration: none;
    color: hsl(0, 0%, 47%);;;
}
button a:active{
    color: black;
    pointer-events: stroke;
}
@media (max-width: 800px) {
    body{
        background-image: none;
        background-color: rgba(224,232,255,255);
    }
}